.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }


/*
.table td {
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
p {
    word-wrap: break-word;
}

.table td {
    word-wrap: break-word;
}

.table tr {
    width: 10px;
    height: 10px;
}